@import url('https://fonts.googleapis.com/css?family=Arimo');

.heading h1 {
	font-size: 200px;
	font-weight: normal;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}

.paragraph p {
	font-family: 'PT Sans', sans-serif; 

}

.paragraphTwo p {
	font-family: 'Arimo', sans-serif;

}