@import url(reset.css);

.page {
  font-family: sans-serif;
  
}

.header {
height: 50px;
width: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
  position: fixed;
}


.header, footer {
height: 50px;
  background-color: black;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.header-container {
position: static;
background-color: black;
}



h2 {
	color: blue;
	font-size: 20px;
	margin: 10px;
	margin-left: 0;
}


.header{
height: 50px;
  background-color: black;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
}
} 


.colums {
	position: relative;
	background-color: white
	color: black;

}


.serviceOne {
	width: 250px;

	height: 350px;
	border: 3px solid black;
	border-radius: 30px;
	box-sizing: border-box;
	display: inline-block;
	padding: 10px;
	margin: 15px;

	margin: 20px;
}


.serviceTwo {
	width: 250px;

	height: 350px;
	border: 3px solid black;
	border-radius: 30px;
	box-sizing: border-box;
	display: inline-block;
	padding: 10px;
	margin: 70px 10px;
	top: 50px;
	left: 300px;
	
}
.serviceThree {
	width: 250px;

	height: 350px;
	border: 3px solid black;
	border-radius: 30px;
	box-sizing: border-box;
	display: inline-block;
	padding: 10px;
	margin: 20px;
	

}

footer {
height: 50px;
width: 100%;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

